/* شريط التنقل العلوي */
.top-navbar {
  @apply flex py-2 min-h-[48px] items-center; // تطبيق تنسيقات flex، padding، والارتفاع الأدنى

  @screen lg {
    @apply py-1.5; // تطبيق padding مختلف للشاشات الكبيرة
  }

  .topnav-has-bg & {
    @apply bg-[color:var(--topnav-bg)]; // تطبيق لون الخلفية المحدد في المتغير
  }

  .topnav-has-gradient & {
    @apply bg-gradient-to-r from-[color:var(--topnav-gradient-from)] to-[color:var(--topnav-gradient-to)]; // تطبيق تدرج الخلفية المحدد في المتغيرين
  }

  .topnav-has-text-color & {
    @apply text-[color:var(--topnav-text-color)]; // تطبيق لون النص المحدد في المتغير
  }

  .s-search-input {
    @apply bg-gray-200/50 hover:bg-gray-200/70 border-none; // تطبيق تنسيقات حقل البحث، بما في ذلك لون الخلفية والتأثير عند التمرير
  }

  @media (max-width: 640px) {
    .s-search-results {
      @apply w-screen max-w-[100vw] rtl:-left-2.5 ltr:-right-2.5; // تطبيق تنسيقات نتائج البحث للشاشات الصغيرة
    }
  }

  .topnav-is-dark & {
    @apply bg-dark text-gray-300; // تطبيق تنسيقات الوضع الداكن

    .btn--circle-gray,
    .btn--rounded-gray,
    .s-search-input {
      @apply bg-gray-100/10 hover:bg-gray-100/[0.15]; // تطبيق تنسيقات الأزرار وحقل البحث في الوضع الداكن
    }

    .topnav-link-item {
      @apply border-gray-300/10; // تطبيق تنسيقات حدود عناصر الروابط في الوضع الداكن
    }

    .s-search-input {
      @apply text-white; // تطبيق لون النص لحقل البحث في الوضع الداكن
    }
  }

  .search-btn {
    @apply grow sm:grow-0 justify-start md:justify-center; // تطبيق تنسيقات زر البحث
  }

  .navbar-brand {
    @apply flex items-center; // تنسيق الشعار
    img {
      @apply w-auto max-h-12; // تنسيق صورة الشعار
    }
  }

  .header-search {
    @apply flex-1 mx-4 hidden; // تنسيق شريط البحث وإخفاؤه افتراضيًا
  }

  .header-btn {
    @apply border-none outline-none transition-opacity hover:opacity-80; // تنسيق الأزرار
    &__icon {
      @apply text-xl w-10 h-10 rounded-full border border-gray-200 flex items-center justify-center text-gray-700; // تنسيق أيقونات الأزرار
    }
  }

  .salla-cart-summary {
    @apply ml-4 rtl:ml-[unset] rtl:mr-4; // تنسيق ملخص العربة
  }
}

/* عناصر قائمة الروابط */
.topnav-link-item {
  @apply inline-block transition duration-300 px-4 rtl:last:pl-0 ltr:last:pr-0 py-px text-sm leading-none ltr:border-r rtl:border-l border-gray-200 ltr:last:border-0 rtl:last:border-0 hover:opacity-80; // تطبيق تنسيقات عناصر قائمة الروابط

  &.right-side {
    @apply rtl:first:pr-0 ltr:first:pl-0; // تطبيق تنسيقات العناصر الموجودة في الجانب الأيمن من القائمة
  }
}

/* شريط التنقل الرئيسي */
.main-nav-container {
  @apply min-h-[68px] lg:min-h-[84px] shadow-default bg-white flex-1; // تطبيق الارتفاع الأدنى لشريط التنقل الرئيسي

  .has-bg &,
  .has-bg & .sub-menu {
    @apply bg-[color:var(--mainnav-bg)]; // تطبيق لون الخلفية المحدد في المتغير
  }

  .has-text-color & {
    @apply text-[color:var(--mainnav-text-color)]; // تطبيق لون النص المحدد في المتغير
  }

  .inner {
    @apply bg-inherit; // تنسيق الخلفية الداخلية
  }

  .container {
    @apply flex items-center justify-center; // تنسيق الحاوية
  }
}

.menu-item {
  @apply flex items-center px-6 py-2.5 sm:text-sm text-gray-500 transition-colors duration-300 hover:bg-gray-200/30; // تطبيق تنسيقات عناصر القائمة

  &.logout {
    @apply text-red-400; // تطبيق لون النص لعناصر القائمة الخاصة بتسجيل الخروج
  }

  &.is-active {
    @apply text-primary bg-gray-200/20; // تطبيق تنسيقات العناصر النشطة في القائمة
  }
}

/* الهيدر الثابت */
.main-nav-container {
  &.animated .inner {
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out; // تطبيق تأثيرات الانتقال عند تحريك شريط التنقل الرئيسي
  }

  &.fixed-pinned .inner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 29;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translate3d(0, -100%, 0); // تطبيق تنسيقات شريط التنقل الرئيسي عندما يكون مثبتًا في الأعلى

    @media (max-width: 1024px) {
      transform: none;
      top: -70px; // تطبيق تنسيقات مختلفة للشاشات الصغيرة
    }
  }

  &.fixed-header .inner {
    transform: translate3d(0, 0, 0); // تطبيق تنسيقات شريط التنقل الرئيسي عندما يكون مثبتًا في الأعلى بدون تحويل

    @media (max-width: 1024px) {
      transform: none;
      top: 0; // تطبيق تنسيقات مختلفة للشاشات الصغيرة
    }
  }
}

.navbar-brand {
  @apply items-center flex my-2 lg:my-0; // تطبيق تنسيقات العلامة التجارية في شريط التنقل

  img {
    @apply w-auto max-h-12 max-w-[100px] xs:max-w-[170px]; // تحديد تنسيقات صورة العلامة التجارية
  }
}

/* أزرار حديثة للعربة والمستخدم */
.header-btn {
  background-color: #f6f8f7;
  color: #0f0101;
  border-radius: 50%;
  width: 40px;
  height: 40px; // زيادة حجم الأزرار لجعلها أكثر وضوحًا
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease; // تطبيق تأثيرات الانتقال للأزرار

  &__icon {
    font-size: 22px;
  }

  &:hover {
    background-color: #eef1f1;
    transform: scale(1.1); // تطبيق تأثير التحويل عند التمرير
  }
}

/* عربة التسوق */
.salla-cart-summary {
  position: relative;

  .header-btn__icon {
    font-size: 20px;
    color: #fff;
    transition: color 0.3s ease; // تطبيق تأثير الانتقال للون الأيقونة
  }

  &:hover .header-btn__icon {
    color: #641507; // تغيير لون الأيقونة عند التمرير
  }

  .badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff6347;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 15px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); // تطبيق تأثير الظل للشارة
  }
}

/* زر المستخدم */
.salla-user-menu {
  @apply shrink-0; // منع التقلص لقائمة المستخدم

  .header-btn {
    background-color: #010e0d;
    color: #fff;

    &:hover {
      background-color: #030f0f; // تغيير لون الخلفية عند التمرير
    }

    &__icon {
      font-size: 22px;
    }
  }
}

/* تحسين تجربة البحث */
.header-search .s-search-results {
  @apply z-10;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); // تطبيق تأثير الظل لنتائج البحث
  border-radius: 8px; // تطبيق الزوايا المستديرة
  overflow: hidden;
}

/* شريط التنقل الموحد */
.unified-navbar {
  @apply flex py-2 min-h-[68px] items-center bg-white shadow-default; // تطبيق تنسيقات flex، padding، والارتفاع الأدنى، ولون الخلفية والظل

  @screen lg {
    @apply py-1.5; // تطبيق padding مختلف للشاشات الكبيرة
  }

  .navbar-brand {
    @apply flex items-center; // تنسيق الشعار
    img {
      @apply w-auto max-h-20; // تكبير صورة الشعار
    }
  }

  .main-nav-container {
    @apply flex-1 mx-4; // تنسيق شريط التنقل الرئيسي
    background-color: transparent; // إزالة الخلفية
  }

  .main-menu {
    @apply flex items-center justify-center; // تنسيق قائمة القوائم الرئيسية
  }

  .header-search {
    @apply flex-1 mx-4 hidden; // تنسيق شريط البحث وإخفاؤه افتراضيًا
  }

  .header-btn {
    @apply border-none outline-none transition-opacity hover:opacity-80; // تنسيق الأزرار
    &__icon {
      @apply text-xl w-10 h-10 rounded-full border border-gray-200 flex items-center justify-center text-gray-700; // تنسيق أيقونات الأزرار
    }
  }

  .salla-cart-summary {
    @apply ml-4 rtl:ml-[unset] rtl:mr-4; // تنسيق ملخص العربة
  }

  .space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .rtl\:space-x-reverse > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 1;
  }
}
