.landing-page {
    @apply bg-white; // تعيين لون الخلفية إلى الأبيض

    @media (max-width: 640px) {
        @apply pb-16; // تعيين الحشوة السفلية في الشاشات الصغيرة
    }

    > header {
        @apply w-full relative overflow-hidden; // تعيين أنماط رأس الصفحة

        .header-content {
            @apply mx-auto relative z-[1] max-w-[750px] text-center pb-[30px]; // تعيين أنماط محتوى الرأس

            &-logo img {
                @apply w-auto mx-auto mb-24 mt-10 max-w-full max-h-[75px] h-auto; // تعيين أنماط صورة الشعار
            }

            &-inner {
                & > h1 {
                    @apply text-2xl md:text-4xl font-bold text-[#444444] mb-4; // تعيين أنماط العنوان الرئيسي
                }

                & > p {
                    @apply text-[#888888] text-sm md:text-base; // تعيين أنماط الفقرة
                }
            }

            &-offer {
                @apply mt-16; // تعيين الهوامش العلوية
                p {
                    @apply text-[#EA5455] text-xl mb-6; // تعيين أنماط فقرة العرض
                }
                h3 {
                    @apply text-3xl mb-16 text-[#444444]; // تعيين أنماط عنوان العرض
                }
            }
        }

        &:before {
            border-radius: 0 0 50% 50%/ 0 0 100% 100%; // تعيين الزوايا
            @apply hidden sm:block content-[''] absolute inset-0 w-full h-full bg-[#F5F7F9] scale-x-150; // تعيين أنماط الخلفية
        }
    }

    .center-products {
        .vertical-products .s-products-list-wrapper {
            @media (min-width: 768px) {
                @apply flex justify-center; // تعيين أنماط قائمة المنتجات العمودية
            }
            @media (max-width: 767px) {
                grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)) !important; // تعيين تخطيط الشبكة في الشاشات الصغيرة
            }
            .s-product-card-vertical {
                @media (min-width: 1024px) {
                    min-width: 286px; // تعيين الحد الأدنى للعرض
                    max-width: 286px; // تعيين الحد الأقصى للعرض
                }
                @media ((min-width: 768px) and (max-width: 1023px)) {
                    min-width: 220px; // تعيين الحد الأدنى للعرض في الشاشات المتوسطة
                }
            }
        }
    }

    .swiper-wrapper {
        @apply pb-5; // تعيين الحشوة السفلية
    }

    .swiper-wrapper, .s-products-list-wrapper {
        .s-product-card-entry {
            @apply border border-[#eee]; // تعيين أنماط بطاقة المنتج
        }
    }

    &--quick-buy {
        @apply text-center mt-6; // تعيين أنماط زر الشراء السريع
        salla-mini-checkout-widget {
            @apply flex justify-center; // تعيين أنماط واجهة الدفع السريعة
            --salla-fast-checkout-button-width: 260px; // تعيين عرض زر الدفع السريع
            @media (max-width: 640px) {
                @apply flex-1; // تعيين العرض في الشاشات الصغيرة
                --salla-fast-checkout-button-width: 100%; // تعيين عرض زر الدفع السريع في الشاشات الصغيرة
            }
        }
        @media (max-width: 640px) {
            @apply flex flex-wrap gap-2.5 sm:gap-4 fixed z-[2] bottom-0 left-0 p-3 w-full justify-between items-center shadow-[-1px_-2px_9px_0_rgba(0,0,0,0.05)] transition duration-700 delay-500 translate-y-100 opacity-0 ease-elastic bg-white; // تعيين أنماط زر الشراء السريع في الشاشات الصغيرة
            .hydrated & {
                &,
                salla-mini-checkout-widget {
                    @apply translate-y-0 opacity-100; // تعيين التحريك والشكل عند التحميل
                }
            }
        }
    }

    &.notfound {
        > header {
            @apply min-h-[50vh] flex items-center justify-center mb-12; // تعيين أنماط رأس الصفحة عند عدم العثور على المحتوى
            img {
                @apply mb-12; // تعيين الهوامش السفلية للصورة
            }
        }
    }

    &.expired {
        > header {
            @apply min-h-[50vh] flex items-center justify-center mb-12; // تعيين أنماط رأس الصفحة عند انتهاء الصلاحية
            .header-content {
                @apply max-w-[600px]; // تعيين الحد الأقصى للعرض
                img {
                    @apply mb-12; // تعيين الهوامش السفلية للصورة
                }
                h1 {
                    @apply text-[#EA5455]; // تعيين لون العنوان
                }
            }
        }
    }

    .s-product-card-wishlist-btn {
        display: hidden; // إخفاء زر قائمة الرغبات
    }
}
