// Mobile Slide Menu
@media only screen and (max-width: 1024px) {
  .filters-opened{
    .close-filters{
      display: block !important;
    }
  } 
  .menu-opened{
    .btn--close-sm.close-mobile-menu{
      display: block !important;
    }
  }
  .mobile-menu {
      display: none;
      @apply lg:hidden overflow-hidden;
  }
  .mm-ocd__content{
    overflow-y: auto;
  }
  .mm-ocd-opened {
    .mobile-menu {
      display: block;
    }

    @media (max-width: 480px) {
      .btn--close-sm {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        z-index: 99999999;
      }
    }
  }

  .mm-spn.mm-spn--light {
    color: #000;
    background: #ffffff;
  }

  .mm-spn {
    ul.main-menu li:before{
      @apply w-2 h-2; 
    }

    &.mm-spn--navbar{
      &:after {
        @apply transition-all duration-300 rtl:pr-12 ltr:pl-12 text-start opacity-90 font-bold;
      }

      &.mm-spn--main{
        &:after{
          @apply rtl:pr-3 ltr:pl-3;
        }
      }
    }

    &.mm-spn--navbar:before {
      [dir="rtl"] & {
        transform: rotate(135deg) translateY(77%);
        right: var(--mm-spn-item-indent);
        left: auto;
      }
    }

    li {
      a,
      > span {
        padding: 18px;
        @apply flex items-center gap-4;
      }

      img{
        @apply w-12 h-12 object-cover bg-[#f5f7f9] pointer-events-none;
      }

      a span{
        padding: 0;
      }

      &:before {
        [dir="rtl"] & {
          width: 6px;
          height: 6px;
          top: 50%;
          left: 25px;
          left: calc(var(--mm-spn-item-height) / 2);
          right: auto;
          border-bottom: 1px solid;
          border-left: 1px solid;
          border-right: none;
          border-top: none;
        }
      }

      &:after {
        width: 100%;
        border-color: var(--infinte-color);
      }
    }
  }
}