// إدخال منتج قائمة الرغبات
.product-entry {
  @apply h-full transition-shadow duration-300 bg-white hover:shadow-default rounded-lg justify-between flex relative; // تعيين أنماط إدخال المنتج

  &--wishlist {
    @apply justify-between p-4 flex-col sm:flex-row; // تعيين أنماط إدخال المنتج في قائمة الرغبات

    .product-entry__image {
      @apply overflow-hidden w-16 h-12 md:w-20 md:h-16 rounded-md; // تعيين أنماط صورة المنتج
    }

    salla-button {
      @apply flex; // تعيين أنماط زر السلة
    }
  }
}

.s-comments {
  &-page {
    @apply pt-16; // تعيين الحشوة العلوية لصفحة التعليقات
  }

  &-product {
    @apply bg-gray-100 mb-4 md:mb-14 py-4 md:py-14; // تعيين أنماط منتج التعليقات

    .s-comments-container {
      @apply container; // تعيين أنماط حاوية التعليقات
    }
  }
}

// قائمة المشاركة
.share-btns-list {
  @apply absolute z-10 overflow-hidden opacity-0 top-12 bg-white flex items-center flex-col shadow-huge rounded-3xl; // تعيين أنماط قائمة أزرار المشاركة

  a {
    @apply block p-3 hover:text-primary; // تعيين أنماط الروابط في قائمة المشاركة
  }
}

// سلة التسوق
.cart-item {
  salla-conditional-fields > section {
    @apply px-0 pt-0 last:mb-0 last:pb-0; // تعيين أنماط عناصر سلة التسوق
  }
}

// تقييم رقمي (SVG)---------------------------
.s-product-card-content-pie-svg-base { 
  transition: stroke-dashoffset 1s linear; // تعيين تأثير الانتقال
  stroke: #E8EDF2; // تعيين لون الخط
  stroke-width: 2px; // تعيين عرض الخط
  stroke-linecap: round; // تعيين شكل نهاية الخط
  fill: none; // عدم تعبئة الشكل
}

.s-product-card-content-pie-svg-bar {
  fill: none; // عدم تعبئة الشكل
  stroke: var(--color-primary); // تعيين لون الخط
  stroke-dasharray: 100 100; // تعيين نمط الخط
  stroke-dashoffset: 100; // تعيين إزاحة الخط
}

.pie-wrapper {
  @apply w-[72px] h-[72px] absolute top-2.5 rtl:left-5 ltr:right-5 text-primary flex items-center justify-center; // تعيين أنماط حاوية الدائرة

  .pie-svg {
    circle {
      transition: stroke-dashoffset 1s linear; // تعيين تأثير الانتقال
      stroke: #E8EDF2; // تعيين لون الخط
      stroke-width: 2px; // تعيين عرض الخط
      stroke-linecap: round; // تعيين شكل نهاية الخط
      fill: none; // عدم تعبئة الشكل

      &.circle_bar {
        stroke: var(--color-primary); // تعيين لون الخط للدائرة
        stroke-dasharray: 100 100; // تعيين نمط الخط للدائرة
        stroke-dashoffset: 100; // تعيين إزاحة الخط للدائرة
      }
    }
  }

  span {
    display: block; // تعيين العرض ككتلة
    font-size: var(--font-xsm); // تعيين حجم الخط
    color: var(--color-text); // تعيين لون النص
    text-align: center; // تعيين محاذاة النص
    position: absolute; // تعيين الموضع كنسبي
    top: 50%; // تعيين الموضع العلوي
    left: 50%; // تعيين الموضع الأيسر
    transform: translate(-50%, -50%); // تعيين التحويل
    line-height: 1; // تعيين ارتفاع السطر
    font-size: var(--font-xsm); // تعيين حجم الخط

    b {
      font-size: var(--font-md) !important; // تعيين حجم الخط للنص الغامق
      margin-bottom: 3px; // تعيين الهوامش السفلية
      color: var(--color-primary); // تعيين لون النص الغامق
    }
  }
}

/* شريط ثابت لإضافة إلى السلة */
@media (max-width: 640px) {
  .is-sticky-product-bar {
    &.product-single {
      @apply pb-28; // تعيين الحشوة السفلية
    }

    .sticky-product-bar {
      @apply flex flex-wrap flex-col gap-2.5 sm:gap-4 fixed z-[2] bottom-0 left-0 p-3 w-full justify-between items-center shadow-[-1px_-2px_9px_0_rgba(0,0,0,0.05)] transition duration-700 delay-500 translate-y-100 opacity-0 ease-elastic; // تعيين أنماط شريط المنتج الثابت

      &__quantity,
      salla-add-product-button {
        @apply translate-y-5 opacity-0 transition duration-700 ease-elastic w-full; // تعيين أنماط الكمية وزر إضافة المنتج
      }

      &__price,
      .form-label {
        @apply hidden; // إخفاء السعر
      }

      &__quantity {
        salla-quantity-input {
          @apply w-full; // تعيين عرض حقل الكمية
          .s-quantity-input-container {
            @apply w-full; // تعيين عرض حاوية حقل الكمية
          }
          .s-quantity-input-input {
            @apply w-[80%]; // تعيين عرض حقل إدخال الكمية
          }
        }
        @apply m-0 delay-[900ms]; // تعيين الهوامش والتأخير
      }

      salla-add-product-button {
        @apply w-auto m-0 flex-1 delay-1000; // تعيين عرض زر إضافة المنتج
      }

      .hydrated & {
        &,
        &__quantity,
        salla-add-product-button {
          @apply translate-y-0 opacity-100; // تعيين التحويل والشكل عند التحميل
        }
      }
    }
  }
}

// إصلاح علامات التبويب
.s-tabs-header * {
  pointer-events: auto !important; // تعيين تفاعلية العناصر
}

.product__description {
  ul,
  li {
    list-style: inherit !important; // تعيين نمط القائمة
  }

  ul,
  ol {
    @apply px-6; // تعيين الحشوة للقوائم
  }

  ol {
    list-style: auto !important; // تعيين نمط القائمة المرتبة
  }

  a {
    @apply text-blue-700; // تعيين لون الروابط
  }
}

// عارض الصور ثلاثية الأبعاد ------------------------------
.model-viewer-wrapper {
  @apply relative mb-4 md:mb-0 w-full; // تعيين أنماط حاوية عارض الصور
}

.switcher-3d-view {
  @apply absolute top-5 rtl:left-4 ltr:right-4; // تعيين موضع مفتاح العرض ثلاثي الأبعاد
}

.model-viewer {
  @apply w-full h-full; // تعيين عرض وارتفاع عارض الصور

  &__poster {
    @apply absolute inset-0 bg-contain bg-no-repeat bg-center; // تعيين أنماط ملصق العارض
  }
}

.s-toggle .s-toggle-switcher-has-text:before {
  @apply content-[attr(data-switcher-text)] font-bold text-center text-gray-400 text-xs leading-[22px]; // تعيين أنماط مفتاح التبديل
  font-family: arial, serif; // تعيين عائلة الخط
}

.s-toggle .s-toggle-input:checked + div.s-toggle-switcher-bg-white:before {
  @apply text-gray-600 border-white bg-white; // تعيين أنماط مفتاح التبديل عند التحقق
}

// مكون تحميل خيارات المنتج
.product-option-uploader {
  .s-file-upload-wrapper {
    min-height: 120px; // تعيين الحد الأدنى للارتفاع
    .filepond--list-scroller {
      overflow-y: inherit !important; // تعيين التمرير العمودي
    }
    .filepond--drop-label {
      min-height: 120px !important; // تعيين الحد الأدنى للارتفاع
      @apply bg-white cursor-pointer border-dashed rounded-md border border-gray-200; // تعيين أنماط حقل السحب والإفلات
    }
    .product-option-uploader-placholder {
      @apply flex flex-col justify-center items-center; // تعيين أنماط عنصر التحميل
      &-icon {
        @apply mb-1; // تعيين الهوامش السفلية
        i {
          color: #7c8082; // تعيين لون الأيقونة
          @apply text-xl; // تعيين حجم الأيقونة
        }
      }
    }
  }
}

// إصلاح عرض النافذة المنبثقة
@media (max-width: 640px) {
  .s-offer-modal-slider-centered .s-offer-modal-slider-item {
    max-width: 46% !important; // تعيين الحد الأقصى للعرض
  }
}

.s-product {
  &-card {
    &-full-image salla-add-product-button {
      @apply bg-white rounded; // تعيين أنماط زر إضافة المنتج
    }
  
    &-wishlist-added i {
      @apply text-red-500; // تعيين لون الأيقونة عند إضافتها إلى قائمة الرغبات
    }
    &-fit-height.s-product-card-vertical .s-product-card-image {
      @apply flex-none sm:flex-1; // تعيين أنماط صورة المنتج
    }
  }
  
  &-options-colors-wrapper {
    @apply flex flex-wrap gap-4; // تعيين أنماط حاوية خيارات الألوان
  }

  .s-product-options-colors-item {
    @apply m-0 rtl:m-0 ltr:m-0 w-auto; // تعيين أنماط عنصر خيارات الألوان
  }
}

// بطاقة بسيطة
.s-product-card-minimal .s-product-card-image {
  @apply rtl:rounded-r ltr:rounded-l; // تعيين الزوايا
}

.s-product-card-starting-price {
  @apply justify-start gap-2.5; // تعيين أنماط سعر البدء
}

.s-product-card-minimal salla-button.s-product-card-wishlist-btn {
  @apply rtl:left-2.5 ltr:right-2.5 top-2.5; // تعيين موضع زر قائمة الرغبات
}

// تكبير الصورة
.magnify-wrapper {
  .img-magnifier-glass {
    @apply hidden sm:block; // إخفاء الزجاج المكبر في الشاشات الصغيرة
    position: absolute; // تعيين الموضع كنسبي
    z-index: 3; // تعيين مستوى z-index
    border-radius: 50%; // تعيين الزوايا
    cursor: none; // إزالة المؤشر
    width: 300px; // تعيين عرض الزجاج المكبر
    height: 300px; // تعيين ارتفاع الزجاج المكبر
    opacity: 0; // تعيين الشفافية
    pointer-events: none; // عدم تفاعل الزجاج المكبر
    transform: scale(0); // تعيين التحويل
    transition: transform .5s ease; // تعيين تأثير الانتقال
    box-shadow: inset 0px 0px 30px #949494; // تعيين الظل
  }
  &:hover {
    .img-magnifier-glass {
      opacity: 1; // تعيين الشفافية
      pointer-events: initial; // تفعيل التفاعل
      transform: scale(1); // إعادة تعيين التحويل
      transition-delay: 0.3s; // تعيين تأخير الانتقال
    }
  } 
}

// بطاقة أفقية
.s-product-card-horizontal {
  .s-product-card-content {
    @apply mb-0; // إزالة الهوامش السفلية
  }

  @media(max-width: 480px) {
    salla-button.s-product-card-wishlist-btn {
      @apply absolute bottom-2.5 rtl:-right-12 ltr:-left-12; // تعيين موضع زر قائمة الرغبات
    }
  }

  salla-progress-bar {
    @apply flex flex-col grow; // تعيين أنماط شريط التقدم
  }
}

.s-rating-stars-reviews {
  @apply text-gray-500; // تعيين لون تقييم النجوم
}

.s-product-card-promotion-title {
  @apply bg-red-800 text-white; // تعيين أنماط عنوان الترويج
}

.s-product-card-sale-price {
  h4 {
    @apply text-red-800 #{!important}; // تعيين لون سعر البيع
  }

  span {
    @apply text-inherit; // تعيين لون النص
  }
}

// الفلاتر
@media (max-width: 1024px) {
  salla-filters {
    &,
    > * {
      @apply px-5 #{!important}; // تعيين الحشوة
    }
  }
}

// شارة عرض البنك
#offer-corner-badge {
  @apply float-left absolute bg-red-600 text-white transform rtl:-rotate-45 ltr:rotate-45 px-12 py-1 h-auto w-auto border-0 m-0 z-1 rtl:top-3 ltr:top-5 rtl:-left-12 ltr:-right-14; // تعيين أنماط شارة عرض البنك
}

// خيارات السلة
.cart-options {
  @apply bg-white border-dashed border border-gray-400 rounded-md; // تعيين أنماط خيارات السلة
  salla-product-options {
    @apply mb-0 pt-0; // تعيين الهوامش

    .s-product-options-option {
      @apply block #{!important}; // تعيين أنماط خيارات المنتج

      &-label {
        @apply mb-3; // تعيين الهوامش السفلية
      }

      .s-form-control {
        @apply rounded-md border-gray-200; // تعيين أنماط حقل النموذج
      }

      .s-datetime-picker-input {
        @apply rounded-md border-gray-200; // تعيين أنماط حقل اختيار التاريخ
      }

      .s-product-options-multiple-options-wrapper {
        @apply block #{!important}; // تعيين أنماط خيارات متعددة
      }
    }
  }
}

salla-quantity-input[max='1'] {
  input {
    @apply pointer-events-none opacity-50; // تعيين أنماط حقل الكمية
  }

  .s-quantity-input-button {
    @apply cursor-not-allowed; // تعيين المؤشر
  }
}