// Colors
$main-color: var(--color-primary);
$infinte-color: var(--infinte-color);
$main-text-color: var(--main-text-color);

:root {
  --infinte-color: #c9c9c9;
  --main-text-color: #231f1e;
  --main-text-color-dark: #2b2d34;

  /* current */
  --color-primary: #5cd5c4;
  --color-primary: #414042;
  --color-primary-d: #272628;
  --color-primary-l: #676668;
  --color-primary-reverse: #ff6767;
  --color-text: #7c8082;
  --bg-gray: #c6c7ce1a;
  --color-grey: #f5f7f9;
  --color-light-grey: #eeeeee;
  /* font-size */
  --font-sm: 0.8685714286rem;
  /* font-family: ; */
  --font-main: "DINNextLTArabic";

  /* plugins */
  --mm-ocd-width: calc(100% - 51px);

  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #dc143c;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

/* الوضع الداكن */
body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

.sidebar {
  background: var(--sidebar-color);
}

.header {
  background-color: var(--primary-color);
}

.button {
  background-color: var(--primary-color-light);
  color: var(--text-color);
}

/* ... باقي التنسيقات ... */
