<!-- filepath: /g:/mrasym/src/views/components/header/breadcrumbs.twig -->
{#
| Variable            | Type               | Description                           |
|---------------------|--------------------|---------------------------------------|
| breadcrumbs         | object[]           | قائمة من الروابط التوضيحية للصفحة الحالية |
| breadcrumbs[].title | string             | عنوان الرابط التوضيحي                |
| breadcrumbs[].url   | string             | رابط الرابط التوضيحي                 |
#}

<!-- قائمة الروابط التوضيحية -->
<ol class="flex items-center flex-wrap text-sm">
    <!-- تكرار عبر الروابط التوضيحية -->
    {% for breadcrumb in breadcrumbs %}
        <!-- إذا لم يكن العنصر الأخير في القائمة -->
        {% if not loop.last %}
            <!-- عنصر رابط توضيحي -->
            <li class="whitespace-nowrap">
                <a href="{{ breadcrumb.url }}" class="fix-align text-primary">{{ breadcrumb.title }}</a>
            </li>
            <!-- أيقونة السهم بين الروابط -->
            <li>
                <i class="sicon-keyboard_arrow_left arrow mx-2"></i>
            </li>
        <!-- إذا كان العنصر الأخير في القائمة -->
        {% else %}
            <!-- عنصر نص توضيحي بدون رابط -->
            <li>
                <span class="fix-align">{{ breadcrumb.title|raw }}</span>
            </li>
        {% endif %}
    {% endfor %}
</ol>


