{#
| Variable     | Type   | Description                                                        |
|--------------|--------|--------------------------------------------------------------------|
| links        | array  | قائمة روابط التواصل الاجتماعي النشطة                              |
| links[].name | string | اسم الرابط                                                         |
| links[].type | string | نوع الرابط (instagram, twitter, snapchat, tiktok, youtube, facebook, pinterest) |
| links[].icon | string | فئة CSS للأيقونة                                                   |
| links[].url  | string | رابط الوجهة                                                        |
#}

<!-- قائمة روابط التواصل الاجتماعي -->
<ul class="flex mb-6">
  {% for link in links %}
    <li class="rtl:ml-2.5 ltr:mr-2.5">
      <a href="{{ link.url }}" rel="noopener" target="_blank" title="{{ link.name }}" aria-label="{{ link.name }}" class="social-link">
        <i class="sicon-{{ link.type }}"></i>
      </a>
    </li>
  {% endfor %}
</ul>
